<div class="navbar">
    <div class="container">
        <div class="logo">
            <a href=""><img src="/images/bridal-palace-logo@2x.png" alt="bridal palace logo" width="60px"></a>
        </div>
        <div class="list-area">
            <nav>
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="">Categories</a></li>
                    <li><a href="">About</a></li>
                    <li><a href="">Contact</a></li>
                </ul>
            </nav>
        </div>
        <div class="account-area">
            <nav>
                <ul>
                    <li>
                        <a href="">
                            <img src="/images/bridal-palace-shopping-bag.svg" alt="" width="20px">
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="pro">
                                <img src="/images/bridal-palace-account.svg" alt="" width="25px">
                            </div>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>