<div class="navbar">
    <div class="container">
        <div class="logo">
            <a href=""><img src="/images/bridal-palace-logo@2x.png" alt="bridal palace logo" width="60px"></a>
        </div>
        <div class="list-area">
            <nav>
                <ul id="MenuItems">
                    <li class="account-mobile">
                        <a href=""><img src="/images/bridal-palace-account.svg" alt="" width="25px" class="profile-icon-mobile"></a>
                        Profile
                    </li>
                    <li><a href="#home">Home</a></li>
                    <li><a href="">Categories</a></li>
                    <li><a href="">About</a></li>
                    <li><a href="">Contact</a></li>
                </ul>
            </nav>
        </div>
        <div class="account-area">
            <nav>
                <ul>
                    <li>
                        <a href="">
                            <button type="button" class="cart-icon">
                                <span><img src="/images/bridal-palace-shopping-bag.svg" alt="" width="22px"></span>
                                <span class="cart-badge">0</span>
                            </button>
                        </a>
                    </li>
                    <li>
                            <div class="pro">
                                <a href=""><img src="/images/bridal-palace-account.svg" alt="" width="25px" class="profile-icon"></a>
                                <img src="/images/menu-icon.svg" alt="bridal palace menu" class="menu-icon"
                                    onclick="menuToggle()">
                            </div>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
<script>
    var MenuItems = document.getElementById("MenuItems");

    MenuItems.style.maxHeight = "0px";
    
    function menuToggle() {
        if (MenuItems.style.maxHeight == "0px") {
            MenuItems.style.maxHeight = "300px";
        }
        else {
            MenuItems.style.maxHeight = "0px";
        }
    }
</script>