<section>
    <div class="container">
        <div class="hero-text align-middle">
            <h3 class="hero-sub-text">A complete bridal store.</h3>
            <h2 class="hero-main-text">YOUR <br>WEDDING <br>STARTS HERE.</h2>
            <div class="cta mt-5">
                <a href="" class="hero-shop-cta">Shop Now <span class="arrow-right-span"><img
                            src="/images/arrow-right.svg" alt="" class="arrow-right"></span></a>
            </div>
        </div>
    </div>
    <img src="/images/bridal-palace-bride-min.png" alt="" class="hero-bride ">
    <h1 class="bp-text">BRIDAL PALACE</h1>
</section>